.ipynb_checkpoints
.DS_Store

report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.out

.empty
__pycache__
dataset/**/*.md
dataset/**/*.txt
dataset/**/*.jsonl
dataset/**/*.csv
!dataset/source/original/*.md
!dataset/source/family/*.md
!dataset/README.md
!dataset/tokenized/**/*
